.noteFormContainer {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: solid black 1px; */
}
.note {
  background-color: slategray;
  border: solid 2px blue;
  border-radius: .5rem;
  padding: .5rem;
  margin: 1rem 0;
}